Repository Armanez29/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim, @vercel/next-js, @leerob, @styfle

fix(next): use the asset prefix when loading a CSS in App Router
  packages/next/src/build/webpack/config/blocks/css/index.ts
  test/integration/next-dynamic-css-asset-prefix/next.config.js
  test/integration/next-dynamic-css-asset-prefix/src/Component2.jsx
  test/integration/next-dynamic-css-asset-prefix/src/Component2.module.scss
  test/integration/next-dynamic-css-asset-prefix/src/Content.jsx
  test/integration/next-dynamic-css-asset-prefix/src/Content.module.css
  test/integration/next-dynamic-css-asset-prefix/src/Content4.module.css
  test/integration/next-dynamic-css-asset-prefix/src/app/layout.tsx
  test/integration/next-dynamic-css-asset-prefix/src/app/test-app/page.tsx
  test/integration/next-dynamic-css-asset-prefix/src/inner/k.jsx
  test/integration/next-dynamic-css-asset-prefix/src/pages/index.jsx
  test/integration/next-dynamic-css-asset-prefix/test/index.test.js
  test/integration/next-dynamic-css-asset-prefix/tsconfig.json
  test/integration/next-dynamic-css/src/app/layout.tsx
  test/integration/next-dynamic-css/src/app/test-app/page.tsx
  test/integration/next-dynamic-css/test/index.test.js
  test/integration/next-dynamic-css/tsconfig.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

chore: update turbopack document path
  packages/next/src/lib/turbopack-warning.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

chore: update webpack loaders path on turbopack
  packages/next/src/server/config-shared.ts
  test/development/basic/hmr.test.ts
  turbopack/crates/turbopack-core/src/issue/module.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic-unrelated/issues/Unknown module type-5512c1.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic-unrelated/issues/Unknown module type-faeccc.txt
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Update `react@experimental`
  package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Updated peer dependency references in apps
  examples/reproduction-template/package.json
  packages/create-next-app/templates/index.ts
  run-tests.js
  test/.stats-app/package.json
  test/e2e/next-test/first-time-setup-js/package.json
  test/e2e/next-test/first-time-setup-ts/package.json
  test/lib/next-modes/base.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Updated peer dependency references in libraries
  packages/next/package.json
  packages/third-parties/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Update `react@rc`
  package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Update lockfile
  pnpm-lock.yaml
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

pick up the convention in structure
  crates/next-core/src/app_page_loader_tree.rs
  crates/next-core/src/app_structure.rs
  crates/next-core/src/base_loader_tree.rs
  packages/next/src/build/webpack/loaders/next-app-loader/index.ts
  packages/next/src/client/components/forbidden-error.tsx
  packages/next/src/client/components/unauthorized-error.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

pick up convention
  packages/next/src/client/components/dev-root-http-access-fallback-boundary.tsx
  packages/next/src/client/components/forbidden-error.tsx
  packages/next/src/client/components/forbidden.ts
  packages/next/src/client/components/http-access-fallback/error-boundary.tsx
  packages/next/src/client/components/http-access-fallback/http-access-fallback.ts
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/navigation.react-server.ts
  packages/next/src/client/components/navigation.ts
  packages/next/src/client/components/unauthorized-error.tsx
  packages/next/src/client/components/unauthorized.ts
  packages/next/src/server/app-render/create-component-tree.tsx
  test/e2e/app-dir/forbidden/basic/app/dynamic-layout-without-not-found/[id]/page.js
  test/e2e/app-dir/forbidden/basic/app/dynamic-layout-without-not-found/layout.js
  test/e2e/app-dir/forbidden/basic/app/dynamic-layout-without-not-found/page.js
  test/e2e/app-dir/forbidden/basic/app/dynamic/[id]/forbidden.js
  test/e2e/app-dir/forbidden/basic/app/dynamic/[id]/page.js
  test/e2e/app-dir/forbidden/basic/app/dynamic/page.js
  test/e2e/app-dir/forbidden/basic/app/forbidden.js
  test/e2e/app-dir/forbidden/basic/app/layout.js
  test/e2e/app-dir/forbidden/basic/app/page.js
  test/e2e/app-dir/forbidden/basic/basic.test.ts
  test/e2e/app-dir/unauthorized/basic/app/dynamic-layout-without-not-found/[id]/page.js
  test/e2e/app-dir/unauthorized/basic/app/dynamic-layout-without-not-found/layout.js
  test/e2e/app-dir/unauthorized/basic/app/dynamic-layout-without-not-found/page.js
  test/e2e/app-dir/unauthorized/basic/app/dynamic/[id]/not-found.js
  test/e2e/app-dir/unauthorized/basic/app/dynamic/[id]/page.js
  test/e2e/app-dir/unauthorized/basic/app/dynamic/page.js
  test/e2e/app-dir/unauthorized/basic/app/layout.js
  test/e2e/app-dir/unauthorized/basic/app/not-found.js
  test/e2e/app-dir/unauthorized/basic/app/page.js
  test/e2e/app-dir/unauthorized/basic/basic.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

render error fallback
  crates/next-core/src/app_structure.rs
  packages/next/src/client/components/forbidden-error.tsx
  packages/next/src/client/components/forbidden.ts
  packages/next/src/client/components/http-access-fallback/error-boundary.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/unauthorized-error.tsx
  packages/next/src/client/components/unauthorized.ts
  packages/next/src/server/app-render/create-component-tree.tsx
  test/development/acceptance-app/hydration-error.test.ts
  test/e2e/app-dir/forbidden/basic/app/dynamic-layout-without-forbidden/[id]/page.js
  test/e2e/app-dir/forbidden/basic/app/dynamic-layout-without-forbidden/layout.js
  test/e2e/app-dir/forbidden/basic/app/dynamic-layout-without-forbidden/page.js
  test/e2e/app-dir/forbidden/basic/app/dynamic/[id]/forbidden.js
  test/e2e/app-dir/forbidden/basic/app/dynamic/[id]/page.js
  test/e2e/app-dir/forbidden/basic/basic.test.ts
  test/e2e/app-dir/unauthorized/basic/app/dynamic-layout-without-not-found/[id]/page.js
  test/e2e/app-dir/unauthorized/basic/app/dynamic-layout-without-unauthorized/[id]/page.js
  test/e2e/app-dir/unauthorized/basic/app/dynamic-layout-without-unauthorized/layout.js
  test/e2e/app-dir/unauthorized/basic/app/dynamic-layout-without-unauthorized/page.js
  test/e2e/app-dir/unauthorized/basic/app/dynamic/[id]/not-found.js
  test/e2e/app-dir/unauthorized/basic/app/dynamic/[id]/unauthorized.js
  test/e2e/app-dir/unauthorized/basic/app/not-found.js
  test/e2e/app-dir/unauthorized/basic/app/unauthorized.js
  test/e2e/app-dir/unauthorized/basic/basic.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Disallow multiple server directives at the same level (file or function)
  crates/next-custom-transforms/src/transforms/server_actions.rs
  crates/next-custom-transforms/tests/errors/server-actions/client-graph/1/output.js
  crates/next-custom-transforms/tests/errors/server-actions/client-graph/2/output.js
  crates/next-custom-transforms/tests/errors/server-actions/client-graph/2/output.stderr
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Extract `get_directive_for_stmt` function
  crates/next-custom-transforms/src/transforms/server_actions.rs
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/10/output.stderr
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Use `get_directive_for_stmt` for module directives
  crates/next-custom-transforms/src/transforms/server_actions.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Add test fixtures for directive in parantheses check
  .prettierignore
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/18/input.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/18/output.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/18/output.stderr
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/19/input.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/19/output.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/19/output.stderr
Owners: @vercel/next-js, @leerob, @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Add test fixtures for conflicting directives
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/20/input.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/20/output.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/20/output.stderr
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/21/input.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/21/output.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/21/output.stderr
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

change block count and index block block indicies to 2 bytes
  turbopack/crates/turbo-persistence/README.md
  turbopack/crates/turbo-persistence/src/static_sorted_file.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

generic key
  turbopack/crates/turbo-persistence/src/collector.rs
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/entry.rs
  turbopack/crates/turbo-persistence/src/key.rs
  turbopack/crates/turbo-persistence/src/lib.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
  turbopack/crates/turbo-persistence/src/tests.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

smaller value blocks
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

put verification check behind feature flag
  turbopack/crates/turbo-persistence/Cargo.toml
  turbopack/crates/turbo-persistence/src/write_batch.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

bugfixes
  turbopack/crates/turbo-persistence/README.md
  turbopack/crates/turbo-persistence/src/arc_slice.rs
  turbopack/crates/turbo-persistence/src/key.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
  turbopack/crates/turbo-persistence/src/tests.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

fixup
  turbopack/crates/turbo-tasks-backend/src/database/turbo.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

integrate turbo-persistence into the backend
  Cargo.lock
  Cargo.toml
  turbopack/crates/turbo-tasks-backend/Cargo.toml
  turbopack/crates/turbo-tasks-backend/src/database/mod.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo.rs
  turbopack/crates/turbo-tasks-backend/src/lib.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Initial implementation of a custom persistence layer
  Cargo.lock
  turbopack/crates/turbo-persistence/Cargo.toml
  turbopack/crates/turbo-persistence/README.md
  turbopack/crates/turbo-persistence/src/arc_slice.rs
  turbopack/crates/turbo-persistence/src/collector.rs
  turbopack/crates/turbo-persistence/src/constants.rs
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/entry.rs
  turbopack/crates/turbo-persistence/src/lib.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
  turbopack/crates/turbo-persistence/src/tests.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

use 2 bytes block index in key blocks
  turbopack/crates/turbo-persistence/README.md
  turbopack/crates/turbo-persistence/src/static_sorted_file.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

WIP: log hit miss
  turbopack/crates/turbo-persistence/src/static_sorted_file.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Revert "WIP: log hit miss"
  turbopack/crates/turbo-persistence/src/static_sorted_file.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

prehashing
  Cargo.lock
  turbopack/crates/turbo-persistence/Cargo.toml
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/key.rs
  turbopack/crates/turbo-persistence/src/lib.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

adjust block sizes and small value size field
  turbopack/crates/turbo-persistence/README.md
  turbopack/crates/turbo-persistence/src/constants.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

add medium sized values that are placed in a separate value block
  turbopack/crates/turbo-persistence/README.md
  turbopack/crates/turbo-persistence/src/collector.rs
  turbopack/crates/turbo-persistence/src/constants.rs
  turbopack/crates/turbo-persistence/src/entry.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

more test cases
  turbopack/crates/turbo-persistence/src/tests.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Remove unnecessary dereferences
  crates/next-custom-transforms/src/transforms/server_actions.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

Track errors where frames are not sourcemapped properly in the Redbox
  test/development/acceptance-app/dynamic-error.test.ts
  test/development/acceptance-app/rsc-runtime-errors.test.ts
  test/development/acceptance-app/undefined-default-export.test.ts
  test/development/app-dir/dynamic-error-trace/index.test.ts
  test/development/app-dir/dynamic-io-dev-errors/dynamic-io-dev-errors.test.ts
  test/development/app-dir/next-after-app-invalid-usage/index.test.ts
  test/development/app-dir/owner-stack-invalid-element-type/invalid-element-type.test.ts
  test/development/app-dir/owner-stack-invalid-element-type/owner-stack-invalid-element-type.test.ts
  test/development/app-dir/owner-stack/owner-stack.test.ts
  test/development/app-dir/serialize-circular-error/serialize-circular-error.test.ts
  test/development/app-dir/server-component-next-dynamic-ssr-false/server-component-next-dynamic-ssr-false.test.ts
  test/e2e/app-dir/global-error/with-style-import/index.test.ts
  test/integration/app-dir-export/test/utils.ts
  test/integration/config-output-export/test/index.test.ts
  test/integration/next-image-legacy/base-path/test/index.test.ts
  test/integration/next-image-legacy/default/test/index.test.ts
  test/integration/next-image-new/app-dir/test/index.test.ts
  test/integration/next-image-new/base-path/test/index.test.js
  test/integration/next-image-new/default/test/index.test.ts
  test/integration/next-image-new/export-config/test/index.test.ts
  test/integration/next-image-new/invalid-image-import/test/index.test.ts
  test/integration/server-side-dev-errors/test/index.test.js
  test/lib/development-sandbox.ts
  test/lib/next-test-utils.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim, @styfle

remove inheritance from NextCustomServer
  packages/next/src/server/lib/render-server.ts
  packages/next/src/server/next.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

test: fix test in turbopack dev
  test/integration/custom-server/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

test: add tests for legacy NextCustomServer methods
  test/integration/custom-server/pages/404.js
  test/integration/custom-server/pages/500.js
  test/integration/custom-server/pages/dynamic-dashboard/index.js
  test/integration/custom-server/server.js
  test/integration/custom-server/test/index.test.js
  test/integration/filesystempublicroutes/server.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

wip
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/render-server.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/next.ts
  test/e2e/app-dir/graceful-shutdown-next-after/custom-server/app/layout.tsx
  test/e2e/app-dir/graceful-shutdown-next-after/custom-server/app/page.tsx
  test/e2e/app-dir/graceful-shutdown-next-after/custom-server/next.config.mjs
  test/e2e/app-dir/graceful-shutdown-next-after/custom-server/server.mjs
  test/e2e/app-dir/graceful-shutdown-next-after/index.test.ts
  test/e2e/app-dir/graceful-shutdown-next-after/next-start/app/layout.tsx
  test/e2e/app-dir/graceful-shutdown-next-after/next-start/app/page.tsx
  test/e2e/app-dir/graceful-shutdown-next-after/next-start/next.config.mjs
  test/lib/next-modes/base.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

clarify some comments
  packages/next/src/server/next-server.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

move server cleanups to .close()
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/async-callback-set.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/next.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

only create cleanupListeners if necessary
  packages/next/src/server/next.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @feedthejim

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

# Part of code owners now use Vercel Spaces
# Search .vercel.approvers for all files

*                                             @timneutkens @ijjk @shuding @huozhi @feedthejim
/.git*                                        @vercel/next-js
/.alex*                                       @vercel/next-js @leerob
/.eslint*                                     @vercel/next-js @leerob
/.prettier*                                   @vercel/next-js @leerob

# Image Component (@styfle)

/**/*image*                                   @timneutkens @ijjk @shuding @styfle @huozhi
/**/*image*/**                                @timneutkens @ijjk @shuding @styfle @huozhi
/packages/next/client/use-intersection.tsx    @timneutkens @ijjk @shuding @styfle
/packages/next/server/lib/squoosh/            @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts         @timneutkens @ijjk @shuding @styfle @huozhi
/packages/next/server/config.ts               @timneutkens @ijjk @shuding @styfle @huozhi
